$primary-color: #274156;
$secondary-color: #a099a0;
$tertiary-color: #605856;

.input {
  display: flex;
  flex-direction: column;
  margin-bottom: 5px;
  position: relative;
  width: 100%;

  & &__label {
    color: $secondary-color;
    transition: 0.2s ease-out;
    z-index: 1;
  }

  & &__control {
    background-color: transparent;
    border: none;
    font-size: 1rem;
    margin-top: 2px;
    position: relative;
    width: 100%;
    z-index: 2;

    &--readonly {
      color: $secondary-color;
    }
  }

  &__counter,
  &__readonly {
    color: $secondary-color;
    font-size: 0.8rem;
    height: 0.8rem;
    text-align: right;
    width: 100%;
  }

  &--active {
    .input__label {
      color: $tertiary-color;
    }

    .underline__fill {
      transform: scaleX(1) !important;
      transition: 0.2s ease-out;
    }
  }
}

.underline {
  background-color: $secondary-color;
  display: block;
  height: 2px;
  width: 100%;

  & &__fill {
    background-color: $primary-color;
    height: 100%;
    transform: scaleX(0);
    width: 100%;
  }
}
